# Don't track build artifacts
_build

# Definitely don't track hidden environment files
.env

# The Tailwind executable should not be included in the repo (right?)
tailwindcss

# Don't include the compiled styles
www/static/build.css
